/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.resolutionSelect {
  max-width: 300px;
}

.metrics-search-bar-input {
  max-width: 500px;
}

.metrics-search-bar-datepicker {
  width: 500px;
}

.resolutionSelectOption {
  line-height: inherit;
}
