/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.liveStream {
  margin: 8px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  vertical-align: baseline;
}

.mainContentTabs .euiResizableContainer {
  height: calc(100vh - 194px);
}

.explorer-loading-spinner {
  position: relative;
  left: 50%;
  top: 50vh;
  width: 20px;
  height: 20px;
  margin-left: -5vw;
  margin-top: -20vh;
}
