/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.liveStream {
  margin : 8px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  vertical-align: baseline;
}

.mainContentTabs .euiResizableContainer {
  height: calc(100vh - 298px);
}

$osdHeaderOffset: $euiHeaderHeightCompensation;

.euiPage--paddingMedium .euiPageSideBar {
  max-width: 462px;
  min-width: 400px;
  padding-left: 0%;
  padding-right:0%;
}

.deLayout {
  height: calc(100vh - #{$osdHeaderOffset});

  &__canvas {
    height: 100%;
  }
}

.headerIsExpanded .deLayout {
  height: calc(100vh - #{$osdHeaderOffset * 2});
}