/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.queryTabs {
  .euiTabs {
    .tab-title {
      max-width: 8rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    svg {
      vertical-align: inherit;
    }
    .linkNewTag {
      display: inline-block;
      text-align: center;
      font-size: 0.875rem;
      line-height: $tab-new-line-height;
      padding: $tab-new-padding; // align with content tab with small size 
      min-width: 6rem;
    }
  }
}

.tab-title {
  display: inline-block;
  margin-right: 5px;
}

.search-area {
  position: relative;
}