/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.liveStream {
  margin : 8px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  vertical-align: baseline;
}

.mainContentTabs .euiResizableContainer {
  height: calc(100vh - 298px);
}

.dscAppContainer {

  // @include scrollNavParent;

  display: grid;
  grid-template-columns: 50% 50%;

}

.mtConfig {
  @include euiYScrollWithShadows


  background: $euiColorLightestShade;
  border-left: $euiBorderThin;
  position: relative;
  overflow-x: hidden;

}
