/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

/* base */

@import 'variables';

/* components */

// event analytics
@import 'components/event_analytics/index';

.synopsisIcon {
  height: 40px;
  width: 40px;
}

.synopsisIconSmall {
  height: 24px;
  width: 24px;
  margin-right: 4px;
}