/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.mouseGrabber {
  & :hover {
    cursor: -webkit-grab;
    cursor: grab;
  }

  & :active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
}

.visualization-action-button {
  & :hover {
    cursor: -webkit-pointer;
    cursor: pointer;
  }
}

.viz-error-btn {
  height: 26px;
  line-height: 26px;
  font-size: 0.8rem;
}

.visualization-div {
  width: 100%;
  height: 90%;
  overflow: auto;
  text-align: center;
}

.metricVis {
  #metricsEditInline {
    /* for ... reasons (?), margin here causes
       other rules to activate... providing
       a more-correct display.
     */
    margin: 0 0;
  }


  #aggregation__field {
    .euiFormLabel {
      width: 130px
    }
  }

  .svg-container {
    margin-top: -25px;
  }


  .main-svg {
    margin-top: -10px;
  }
}

%center-div {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.visualization-loading-chart {
  margin: 122px 0;
  @extend %center-div;
}

.visualization-error-div {
  overflow: auto;
  position: relative;
  @extend %center-div;
}

.panel-full-width {
  width: 100%;
  height: 100%;
}

.panels-title-text {
  @include euiTextTruncate;
}
