/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.group-dashboards {
  padding-top: 50px;
  margin-left: 12px;
  margin-right: 12px;
}

.kubernetes-cluster-title {
  margin-left: 24px;
}