/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

@import '../../../node_modules/vis-network/dist/dist/vis-network.min.css';
@import './components/common/shared_components/sharedComponents.scss';

.overview-title {
  color: '#333333';
  font-weight: 370;
}

.overview-content {
  font-weight: 430;
}

.panel-title {
  color: '#3f3f3f';
  font-weight: 500;
}

.panel-title-count {
  color: '#8a9596';
  font-weight: 300;
}

div.vis-network > div.vis-tooltip {
  color: #f4f5f5;
  background-color: #3d4652;
  opacity: 0.9;
  padding: 5px;
  font-size: small;
  p {
    padding: 5px;
  }
}

th[data-test-subj^='tableHeaderCell_dashboard_trace_group_name'],
th[data-test-subj^='tableHeaderCell_dashboard_latency_variance'],
th[data-test-subj^='tableHeaderCell_dashboard_average_latency'],
th[data-test-subj^='tableHeaderCell_dashboard_error_rate'],
th[data-test-subj^='tableHeaderCell_dashboard_traces'] {
  svg[aria-label^='Sorted in'] {
    margin-top: -20px;
  }
}

th[data-test-subj^='tableHeaderCell_dashboard_latency_variance'] {
  svg[aria-label^='Sorted in'] {
    margin-left: -16px;
    position: relative;
    left: 10px;
  }
}

.database-selector {
  padding-right: 24px;
  border-right: 1px solid $euiBorderColor;
}

.span-flyout-back-btn {
  position: absolute;
  right: 38px;
  top: 8px;
  z-index: 3;
}

.service-map-node-details {
  position: 'absolute';
  top: 20;
  right: 20;
  z-index: 1000;
}

.traces-table {
  &.traces-table-trace-id {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.popOverContainer {
  width: 10vw;
  min-width: 250px;
}

.traces-scrollable-table {
  > div:first-of-type {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
}

.attributes-column-header,
.attributes-column {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  font-size: small;
  font-weight: bold;
}

.trace-group-column {
  min-width: 200px;
}

.span-group-column {
  min-width: 150px;
}

.attributes-column-header {
  display: table-cell;
}

.tableModePopover {
  width: 300px;
}

.popOverSelectableItem {
  white-space: initial !important;
}

.full-screen-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.full-screen-close-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 10000;
}

.full-screen-content {
  flex: 1 1 auto;
  overflow: auto;
}

.center-loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
}
