/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.promql-line-chart {
  position: relative;
  width: 100%;

  &__container {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    color: $euiTextColor;
    margin: 0 0 8px 0;
  }

  &__chart {
    width: 100%;
    height: calc(100% - 24px);
    min-height: 200px;
  }

  &__chart-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $euiColorLightestShade;
    border-radius: 4px;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 200px;
  }

  &__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 200px;
    color: $euiColorDanger;
    text-align: center;
    padding: 16px;

    &-icon {
      margin-bottom: 8px;
    }

    &-message {
      font-size: 14px;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 200px;
    color: $euiColorDarkShade;
    text-align: center;
    padding: 16px;

    &-icon {
      margin-bottom: 8px;
    }

    &-message {
      font-size: 14px;
    }
  }
}
