/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

$vizPanelMinWidth: $euiSize * 18;

// These sizes also match canvas' page thumbnails for consistency
$vizSuggestionHeight: 100px;
$vizSuggestionWidth: 150px;

.vizFrameLayout {
  padding: 0;
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  flex-direction: column;
}

.vizFrameLayout__pageContent {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.vizFrameLayout__pageBody {
  @include euiScrollBar;
  min-width: $vizPanelMinWidth + $euiSizeXL;
  max-height: 100%;
  overflow: hidden auto;
  // Leave out bottom padding so the suggestions scrollbar stays flush to window edge
  // Leave out left padding so the left sidebar's focus states are visible outside of content bounds
  // This also means needing to add same amount of margin to page content and suggestion items
  padding: $euiSize $euiSize 0;

  &:first-child {
    padding-left: $euiSize;
  }
}

.vizFrameLayout__sidebar {
  margin: 0 16px 0;
  flex: 1 0 18%;
  min-width: $vizPanelMinWidth + $euiSize;
  display: flex;
  flex-direction: column;
  position: relative;
}

.vizFrameLayout__sidebar--right {
  flex-basis: 25%;
  background-color: lightOrDarkTheme($euiColorLightestShade, $euiColorInk);
  min-width: $vizPanelMinWidth + $euiSizeXL;
  max-width: $euiFormMaxWidth + $euiSizeXXL;
  max-height: 100%;

  .vizConfigPanel {
    @include euiScrollBar;
    padding: $euiSize 0 $euiSize $euiSize;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
