/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */

.metricsList {
  line-height: normal;
}

section.sidebar {
  height: calc(100vh - 240px);
}

.metricsListContainer {
  margin-left: 15px;
  margin-right: 5px;
}

.tokenMargin {
  vertical-align: middle;
}

#metrics__mainContent {
  .dscAppContainer {
    .metricsSideBar {
      padding: $euiSizeS;
      overflow: auto;

      &__fieldGroups {
        @include euiYScrollWithShadows;

        overflow-y: auto;
        margin-right: -$euiSizeS;
        padding-right: $euiSizeS;
        margin-top: $euiSizeS;
      }

      &__fieldGroup {
        margin-top: $euiSizeS;

        &:first-child {
          margin-top: 0;
        }
      }
    }
    .metricsSideBar {
      @include euiYScrollWithShadows;
      .sidebar-list {
        height: 100%;
      }
    }
  }
}
